</br>
<p>This is a second template file, now everything is being split up into pieces.  So now you can see how maybe you can have a header, sidebar, body content, footer etc.</p>
<p>As you can see by the date here in the second file (@=@today@=@) template variables are usable in all template files loaded in one instance</p>
</br>
<p>And here is another variable that was added after the first template file was loaded but before this one was its the server path: @=@serverPath@=@</p>
</div>
</div>
</body>
</html>